* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 14px;
    background-color: #3333;
    font-family: 'Sansita Swashed', cursive;
}

@media (min-width: 576px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-calculator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #1a53ff;
    margin-bottom: 1.5rem;
}

.header span {
    color: black;
}

.calculator-surface {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px;
    column-gap: 10px;
    row-gap: 10px;

    padding: 10px;
    grid-template-areas: "input input input input"
                         "num1 num2 num3 plus"
                         "num4 num5 num6 minus"
                         "num7 num8 num9 multiply"
                         "clear num0 equal divide";
    width: 290px;
    border-radius: 2px;
    background-color: black;
}

input {
    font-size: 24px;
    background-color: #b1eb34;
}

.num {
    background-color: #8c8c8c;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 25px;
}

.opr {
    background-color: #8c8c8c;
    color: #141414;
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
}

.inpvalue {
    grid-area: input;
}

.num-0 {
    grid-area: num0;
}

.num-1 {
    grid-area: num1;
}

.num-2 {
    grid-area: num2;
}

.num-3 {
    grid-area: num3;
}

.num-4 {
    grid-area: num4;
}

.num-5 {
    grid-area: num5;
}

.num-6 {
    grid-area: num6;
}

.num-7 {
    grid-area: num7;
}

.num-8 {
    grid-area: num8;
}

.num-9 {
    grid-area: num9;
}

.plus-opr {
    grid-area: plus;
}

.minus-opr {
    grid-area: minus;
}

.multiply-opr {
    grid-area: multiply;
}

.divide-opr {
    grid-area: divide;
}

.clear-opr {
    grid-area: clear;
}

.equal-opr {
    grid-area: equal;
}

.divide-opr {
    grid-area: divide;
}

.calculator-color-container{
    display: flex;
    position: absolute;
    right: 0;
    top: 210px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 280px;
    width: 50px;
}

.calculator-colors{
    width: 15px;
    height: 90px;
    cursor: pointer;
}

.color-pink{
    background-color: #ffb3ec;
}

.color-blue{
    background-color: #0099ff;
}

.color-purple{
    background-color: #660066;
}

.color-yellow{
    background-color: yellow;
}