* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #3333;
    font-family: 'Sansita Swashed', cursive;
}

@media all and (min-width: 576px) {
    body {
        font-size: 16px;
    }
}

@media all and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media all and (min-width: 992px) {
    body {
        font-size: 20px;
    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

.header {
    color: #1a53ff;
    margin-top: 15px;
    margin-left: 50px;
}

.header span {
    color: black;
}

input {
    caret-color: #ff33cc;
    font-size: 25px;
}

.num {
    background: white;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 25px;
    transition-duration: 0.3s;
}

.num:hover {
    background: #c2c2c2;
    font-weight: bold;
}

.opr {
    background-image: linear-gradient(to right, rgb(255, 230, 255), rgb(255, 179, 255));
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 25px;
}

.opr:hover {
    background-image: linear-gradient(to right, rgb(255, 179, 255), rgb(255, 230, 255));
    font-weight: bold;
}

#calc-table {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgb(255, 179, 255), rgb(255, 128, 255));
}

td {
    padding: 2px;
}
